.typing {
  overflow: hidden;
  color: var(--text-subtle);
  font-size: var(--text-caption);
  line-height: var(--text-caption--line-height);
  letter-spacing: var(--text-caption--letter-spacing);
  white-space: nowrap;
  text-overflow: ellipsis;
}
